.displayperson{background-color:#ed6d00;color:#fff!important;;padding:2px 5px}
.displayenterprise{background-color:#005fed;padding:2px 5px;color:#fff!important;}
.addbox {margin-top:10px;padding:0 20px 12px 10px}
.tablebox table {width:100%}
