<div class="contentbox">
  <div class="contentit-l">
    <mat-card-title>车辆类型</mat-card-title>
    <mat-card-subtitle><b>| 当前位置</b></mat-card-subtitle>
  </div>
</div>

<form class="listfrom" [formGroup]="searchp" >
  <mat-form-field class="col-md-3">
    <label>
      <input matInput  formControlName="Name" />
    </label>
    <span  matPrefix style="color: #888">车型名称：&nbsp;</span>
  </mat-form-field>
  <mat-form-field class="col-md-3">
    <label>
      <input matInput  formControlName="Code" />
    </label>
    <span  matPrefix style="color: #888">编码：&nbsp;</span>
  </mat-form-field>
  <button ejs-button cssClass="e-info mat-width" (click)="searching()">查询</button>
</form>

<ejs-grid #grid  allowResizing= 'true' height="{{gridheight}}"
          (dataStateChange)="dataStateChange($event)"
          [allowExcelExport]='true'  allowSorting='false'
          [allowSelection]="true"
          [enableHover]="false"
          allowPaging='true'  class="contlistbox">
  <e-columns >
    <e-column field='Name'  headerText='名称' isPrimaryKey='true' width='165'></e-column>
    <e-column field='Code' headerText='编号'  width=120></e-column>
    <e-column field='TypeLegth' headerText='长度(m)'  width=110></e-column>
    <e-column field='TypeWidth' headerText='宽度(m)'  width=110></e-column>
    <e-column field='TypeHeight' headerText='高度(m)'  width=120></e-column>
    <e-column field='Volumecapacity' headerText='容积(m3)' textAlign="left"  width='150'></e-column>
    <e-column field='Weightcapacity' headerText='吨位(T)' textAlign="left"  width='130'></e-column>
  </e-columns>
</ejs-grid>




