.userbox {padding:10px}
.userbox h3 {font-size:16px;margin-top:10px;color:#333;border-bottom:1px #ccc solid;padding:10px 0;margin-bottom:0}
.customar {margin-bottom:0px;margin-top:12px}
.checkmar {padding-top:20px;}
.customar .mat-form-field {width:100%!important;}
.customar2 {margin-bottom:20px}
.checkmar2 {paddin:0px;}
.statebox {width:100%;height:35px;line-height:35px;background:#eee;margin-top:10px}
.statebox h2 {font-size:15px;color:#000;margin-left:10px;font-weight: 100}

