<form id="customerid" [formGroup]="form" >
  <div fxLayout="row" fxLayoutAlign="space-between end" class="userbox">
    <div fxFlex="32" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="客户名称" formControlName="name"></label>
        <mat-error>客户名称是<strong>必须的</strong></mat-error>
        <mat-hint align="start">请输入<strong>客户名称</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="32" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="编码" formControlName="code"></label>
        <mat-hint align="start">客户编码</mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="32" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="客户简称" formControlName="simplename"></label>
        <mat-hint align="start">客户简称</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="userbox">
    <div fxFlex="32" class="customar">
      <mat-form-field>
        <mat-select formControlName="customType"  id="customType" placeholder="客户性质">
          <mat-option value="公司">公司</mat-option>
          <mat-option value="个人">个人</mat-option>
        </mat-select>
        <mat-error>客户性质<strong>必须的</strong></mat-error>
        <mat-hint align="start">请选择<strong>客户性质</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="32" class="customar">
      <mat-form-field>
        <mat-select formControlName="customleavel"  id="customleavel" placeholder="客户级别">
          <mat-option value="普通">普通</mat-option>
          <mat-option value="高级">高级</mat-option>
        </mat-select>
        <mat-error>客户级别<strong>必须的</strong></mat-error>
        <mat-hint align="start">请选择<strong>客户级别</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="32" class="customar">
      <mat-form-field>
        <mat-select  placeholder="从属机构"  formControlName="partyto">
          <option value="" selected></option>
          <mat-option value="{{store.StoreId}}" *ngFor="let store of logistticstores;">{{store.StoreName}}</mat-option>
        </mat-select>
        <mat-hint align="start">请选择从属机构</mat-hint>
        <mat-error>从属机构<strong>必须的</strong></mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="userbox">
    <div fxFlex="32" class="customar">
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <div fxFlex="48">
          <mat-form-field>
            <label><input matInput placeholder="业务员" formControlName="emp"></label>
          </mat-form-field>
        </div>
        <div fxFlex="48">
          <mat-form-field>
            <label><input matInput placeholder="创建人"  formControlName="createuser" disabled="true"></label>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxFlex="32" class="customar2">
      状态设置： <mat-radio-group formControlName="enabel">
      <mat-radio-button value="true" style="margin-left:10px">启用</mat-radio-button>
      <mat-radio-button  value="false" style="margin-left:25px">禁用</mat-radio-button>
    </mat-radio-group>
    </div>
    <div fxFlex="32" class="customar2">
      月结设置：
      <mat-checkbox formControlName="Canmonthlysettle" style="margin-left:10px">是否可月结</mat-checkbox>
      <mat-checkbox formControlName="Ismonth" style="margin-left:25px">默认月结</mat-checkbox>
    </div>
  </div>
</form>
