


<ejs-dropdownlist #mystore   floatLabelType="Auto"  [dataSource]='logistticstores' [popupHeight]='100' [fields]='logisticstorefiled' (change)='selectchange($event)'  ></ejs-dropdownlist>


  <!--<div *ngIf="control; then truthyTemplate else falsyTemplate"></div>-->

<!--<ng-template #truthyTemplate >-->

<!--    <ejs-dropdownlist #mystore-->
<!--      placeholder='{{placeholder}}' [dataSource]='logistticstores'-->
<!--      [popupHeight]='100'-->
<!--      [fields]='logisticstorefiled' formControl="{{control}}"></ejs-dropdownlist>-->
<!--</ng-template>-->

<!--<ng-template #falsyTemplate>-->

<!--  <ejs-dropdownlist #mystore-->
<!--    placeholder='{{placeholder}}' [dataSource]='logistticstores'-->
<!--    [popupHeight]='100'-->
<!--     [index]="1"-->
<!--    [fields]='logisticstorefiled'></ejs-dropdownlist>-->

<!--</ng-template>-->
