<h1>联系地址</h1>
<form [formGroup]="form" >
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div fxFlex="49" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="联系人" formControlName="LinkMan"></label>
        <mat-error>联系人<strong>必须的</strong></mat-error>
        <mat-hint align="start">请输入<strong>联系人</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="49" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="联系手机" formControlName="LinkTel"></label>
        <mat-hint align="start">请输入<strong>联系手机</strong></mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="marginT">
    <div fxFlex="100" class="customar" style="margin-bottom:16px!important;">
      <app-bin-areacascading formControlName="Area"></app-bin-areacascading>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="marginT">
    <div fxFlex="100" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="联系地址" formControlName="LinkAddress"></label>
        <mat-error>联系地址<strong>必须的</strong></mat-error>
        <mat-hint align="start">请输入<strong>联系地址</strong></mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="btnbox"><button ejs-button cssClass="e-info mat-width"  (click)="saveaction()" >创建</button></div>
