<h1>{{displaytithle}}</h1>
<div>
<form [formGroup]="form" >
<!--CD(代号),JC（简称）,KN(客户名称),LK(联系人),LT(联系电话)-->
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div fxFlex="100" class="customar">
      查询范围：
      <mat-radio-group formControlName="searchtype">
        <mat-radio-button value="CD" class="marginL">代号</mat-radio-button>
        <mat-radio-button  value="JC" class="marginL">简称</mat-radio-button>
        <mat-radio-button value="KN" class="marginL" checked="checked">客户名称</mat-radio-button>
        <mat-radio-button value="LK" class="marginL">联系人</mat-radio-button>
        <mat-radio-button value="LT" class="marginL">联系电话</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" class="marginT">
    <div fxFlex="85" class="customar">
      <mat-form-field>
        <label><input matInput placeholder="查询内容" formControlName="searchtxt"></label>
        <mat-error>查询内容是<strong>必须的</strong></mat-error>
        <mat-hint align="start">请输入<strong>查询内容</strong></mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="15" class="customar" style="margin-bottom:15px;text-align:right">
      <button   ejs-button cssClass="e-info mat-width"  (click)="search()" >查询</button>
    </div>
  </div>
</form>

</div>
<div>
  <div class="searchtit">查询结果</div>
  <table mat-table [dataSource]="customeraddressdatasource" class="searchtable">
    <ng-container matColumnDef="CustomerId">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element">
        <ejs-tooltip #tooltip content='点击选择这个地址'  position="BottomCenter" style="padding-left:0!important;padding-right:0!important;">
          <button ejs-button cssClass="e-flat" [isPrimary]="true" style="padding-left:0!important;padding-right:0!important;"
                  (click)="chosethiscustomer(element)">{{element.CustomerId}}</button>
        </ejs-tooltip>
      </td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> 客户名称. </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="LinkMan">
      <th mat-header-cell *matHeaderCellDef> 联系人. </th>
      <td mat-cell *matCellDef="let element"> {{element.LinkMan}} </td>
    </ng-container>

    <ng-container matColumnDef="LinkTel">
      <th mat-header-cell *matHeaderCellDef> 联系电话. </th>
      <td mat-cell *matCellDef="let element"> {{element.LinkTel}} </td>
    </ng-container>

    <ng-container matColumnDef="Canmonthlysettle">
      <th mat-header-cell *matHeaderCellDef> 是否月结. </th>
      <td mat-cell *matCellDef="let element"> {{element.Canmonthlysettle}} </td>
    </ng-container>

    <ng-container matColumnDef="Area">
      <th mat-header-cell *matHeaderCellDef> 联系区域. </th>
      <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
    </ng-container>

    <ng-container matColumnDef="LinkAddress">
      <th mat-header-cell *matHeaderCellDef> 联系地址. </th>
      <td mat-cell *matCellDef="let element"> {{element.LinkAddress}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>

