.margin_t_10 {margin-top:10px}
.margin_10 {margin:10px}
.cardborder {border-bottom: 1px #ccc solid;padding-bottom:10px}
.margin_015 {margin:0 15px}
.margin_dis {margin-top:10px;display: block}
.cardmargin {margin:10px 10px 0px 10px}
.fontacommon {color:#333;font-size:18px;width:25px}
.fontacommon_18 {color:#333;font-size:18px;width:18px}
.mat_tit_b {font-size: 18px;color:#333}
.contentbox {padding:10px 15px 10px 15px;wdith:100%;height:auto;clear:both;overflow:hidden;margin:0 10px 0 10px;background:#fff;border-bottom:1px #e1e1e1 solid}
.contentit-l {width:40%;height:auto;flopagebtnboxat: left;}
.contenttex-r {width:60%;height:auto;float: right;}
.contenttex-r button {margin-left:10px;margin-top:5px;float:right}
.pagebtnbox {width:480px;margin:0 auto;text-align: center}
.pagebtn {margin:20px 10px;font-size:18px;padding:8px 10px!important;}
.pagebtn i {margin-right:2px;}
.contentit-l div {width:100%;height:auto;margin:0;font-size:16px;color:#666}
.contentit-l a {color:#666;text-decoration: none}
.contentit-l a:hover {color:#111;text-decoration: underline}
.contentit-l b {font-weight: normal;color:#111}
